# Ignore Data & Storage 
data/
storage/
spark-warehouse/
metastore_db/
derby.log
hadoop/

# Ignore IDE settings
.vscode/
.idea/
*.ipynb_checkpoints

# Ignore Python Cache
__pycache__/
*.pyc

# Ignore System files
.DS_Store
Thumbs.db
